@layout.app({title:'home'})
@slot('main')
  <main>
    <h2>Selamat Datang di Toko Anti Hujan</h2>
    <p>Kami menyediakan perlengkapan seperti payung dan jas hujan dengan kualitas terbaik.</p>
    <img src="gambar/banner.jpg" alt="Payung dan Jas Hujan" class="banner">
  </main>
@endslot
@end