@layout.app({title:'keranjang'}) 
@slot('main')
    <main>
    <h2>Keranjang Belanja Anda</h2>
    
    <div id="cart-page-container">
      <p style="text-align: center;">Memuat keranjang...</p> 
    </div>
    
    <div id="cart-total-summary">
    </div>
    
    <a href="#" id="btn-checkout" class="btn-beli btn-checkout">
      Lanjut ke Pembayaran (WA)
    </a>

  </main>
@endslot
@end