@layout.app({title:'wishlist'}) 
@slot('main')
    <main>
    <h2>Wishlist Anda</h2>
    
    <div id="wishlist-page-container">
      <p style="text-align: center;">Memuat wishlist...</p> 
    </div>
    
  </main>
@endslot
@end